@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true"
       TableColumns="TableColumns" ShowToolbar="true" ShowExtendButtons="true"
       OnSaveAsync="OnSaveAsync"
       IsTree="IsTree"
       TreeNodeConverter="TreeNodeConverter"
       OnDeleteAsync="OnDeleteAsync"
       BeforeRowButtonTemplate="BeforeRowButtonTemplate"
       ShowExtendDeleteButtonCallback="ShowExtendDeleteButtonCallback"
       RowButtonTemplate="RowButtonTemplate"
       ShowExtendEditButtonCallback="ShowExtendEditButtonCallback"
       IsPagination="IsPagination"
       IsMultipleSelect="IsMultipleSelect"
       PageItemsSource="new[] { 10, 20, 50 }">
</Table>