@page "/NotAuth"

@attribute [AllowAnonymous]

<div class="login-item login-item-gitee">
    <div class="login-header">
        <div class="login-register">没有该页面权限，点击<a href="/">回到主页</a>,有问题请联系管理员处理</div>
    </div>

</div>